
@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--end));
  }
  100% {
    transform: translateY(0);
  }
}

.hat {
  animation: moveY var(--dur) linear infinite;
}

.col {
  transform: translateX(var(--pos));
}

.hatForced {
  transform: translateY(var(--end));
}